.panel {
    margin: 10px;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    box-shadow: 3px 3px 5px 3px #ccc;
    vertical-align: top;
}

.container__template {
    display: inline-block;
    vertical-align: top;
}

.container__input {
    display: inline-block;
    width: 300px;
}


/* buttons */

.template__btns {
    margin: 3px;
    width: 50px;
    height: 50px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
    border: none;
    background-color: rgb(243, 243, 243);
}

.template__btns:hover {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.btn_t1 {
    background-image: url("../img/t1_btn.png");
}

.btn_t2 {
    background-image: url("../img/t2_btn.png");
}

.btn_t3 {
    background-image: url("../img/t3_btn.png");
}

button {
    margin: 5px 0;
    border: 0;
    line-height: 2.3;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}

button:hover {
    opacity: .8;
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}



.renderBtn {
    background-color: rgba(220, 0, 0, 1);
    width: 85%;

}

.clearBtn {
    margin: 3px;
    width: 45px;
    height: 45px;
    background-size: 153%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/clear-btn.jpg");
    box-shadow: none;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}

/* inputs */

input {
    margin: 5px 0;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

.wrapper_logo input::placeholder {
    color: #0b3d1165;
    font-weight: bold;
}

.wrapper_price input::placeholder {
    color: #275dfe4f;
    font-weight: bold;
}

.wrapper_foto input::placeholder {
    color: #fe272749;
    font-weight: bold;
}

.wrapper_text input::placeholder {
    color: #3d161654;
    font-weight: bold;
}


/* active template */
.active {
    background-color: rgba(220, 0, 0, .1);
    box-shadow: inset -4px -4px 6px rgba(255, 255, 255, .6),
        inset 4px 4px 6px rgba(220, 0, 0, .6);
    border: rgba(220, 0, 0, 1) solid 3px;
    border-radius: -5px;
}