.panel {
    margin: 10px;
    padding: 7px;
    /* display: inline-block; */
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    box-shadow: 3px 3px 5px 3px #ccc;
    max-width: 1065px;
    min-width: 245px;
}

.panel>* {
    display: inline;
}

button {
    margin: 5px 0;
    border: 0;
    line-height: 2.3;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}

button:hover {
    opacity: .8;
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.renderBtn {
    background-color: rgba(220, 0, 0, 1);
    /* float: right; */
}

.editBtn {
    background-color: rgb(0, 220, 183);
    /* float: right; */
    /* margin: 0 10px; */
}

.clearBtn {
    background-color: rgba(0, 33, 220, 0.911);
    width: 100px;
    margin: 0 5px;
}

input {
    margin: 5px 0;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

.wrapper_logo input::placeholder {
    color: #0b3d1165;
    font-weight: bold;
}

.wrapper_price input::placeholder {
    color: #275dfe4f;
    font-weight: bold;
}

.wrapper_foto input::placeholder {
    color: #fe272749;
    font-weight: bold;
}

.wrapper_text input::placeholder {
    color: #3d161654;
    font-weight: bold;
}

.options {
    float: right;
    text-align: right;
    height: 38 px;
}

.version {
    position: absolute;
    top: -10px;
    left: 11px;
}

.wrapper_btn {
    display: flex;
    justify-content: space-between;
}